<div class="ci-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
        <div class="ci-profile-image"><a href="#">
          <img src="../../assets/images/profile-image.png" alt="Image"/></a></div>
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
        <section>
          <h1>
            I’m Cristian Ionas<br>
            <ngx-typed-js
              [strings]="['Software Developer','FullStack Developer','.NET Developer']"
              [loop]="true"
              [typeSpeed]="65"
              [backSpeed]="65">
              <span class="typing"></span>
            </ngx-typed-js>
          </h1>
          <ul class="icon-container ci-social-header">
            <li><a href="https://www.linkedin.com/in/cristianionas/"
                   target="_blank" title="LinkedIn">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a></li>

            <li><a href="https://wa.me/37369592864"
                   target="_blank" title="WhatsApp">
              <fa-icon [icon]="faWhatsapp"></fa-icon>
            </a></li>

            <li><a href="https://t.me/crisionas"
                   target="_blank" title="Telegram">
              <fa-icon [icon]="faTelegram"></fa-icon>
            </a></li>

            <li><a href="mailto:cristian@crisify.com"
                   target="_blank" title="Mail">
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="ci-content-section">
  <div class="container">
    <section id="about" class="about">
      <h2 class="ci-heading">About Me</h2>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Results-driven software engineer with specialized expertise in .NET development and a strong commitment to delivering innovative,
        efficient solutions for complex challenges.
        Brings a comprehensive background in programming and development, with proficiency across a wide array of modern technologies.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proven track record of success in delivering diverse projects, ranging from small-scale applications to large,
        enterprise-level systems.
        Adept at designing and implementing robust software solutions that prioritize scalability, maintainability, and security.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dedicated to continuous professional development, staying at the forefront of industry
        trends and emerging technologies to consistently provide exceptional value to clients and stakeholders.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Focused on delivering impactful software solutions that drive business growth and operational efficiency,
        ensuring alignment with organizational goals and long-term success.</p>
    </section>
    <app-portfolio-page></app-portfolio-page>
  </div>
</div>
