<div class="container">
  <div class="ci-content-section">
    <h1 class="heading-primary">Digital Document Signing Process</h1>
    <div class="project-details main-container">

      <div *ngFor="let image of images">
        <app-image-viewer-component [src]="image.src" [captionText]="image.captionText"/>
      </div>

      <section id="projectCharacteristics" class="about tools-used">
        <h2 class="ci-heading">Characteristics</h2>
        <p><b>Project Type:</b> Enterprise</p>
        <p><b>Client:</b> Maandag, for client from Germany</p>
        <p><b>Period:</b> May 2024 - November 2024</p>
      </section>

      <section id="projectOverview" class="about tools-used">
        <h2 class="ci-heading">Overview</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This project was developed for one of Germany’s leading clients, renowned for delivering innovative digital solutions to the banking and insurance sectors.
          The objective was to design and implement a robust and flexible document signing solution that empowered brokers
          to manage their documents directly within the system and independently initiate signature processes, without being tied to contract workflows.

          A key feature of the solution was the ability to send email requests to customers, streamlining the document signing experience and ensuring faster turnaround times.
          To support the system’s pay-per-use model, a reusable License Service was built, providing comprehensive tracking and management of usage. This service also offered detailed and accurate reporting on license consumption, ensuring transparency and efficient resource management.
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The project comprised 4 microservices, a micro-frontend, and robust event messaging capabilities utilizing AWS SNS and SQS for seamless communication across services.
        </p>
      </section>

      <section id="achievments" class="about tools-used">
        <h2 class="ci-heading">Achievements</h2>
        <ul>
          <li><b>End-to-End Digital Solution for Brokers:</b> Delivered a comprehensive digital solution that allowed brokers to manage all their work, including document signing, within a single system.
            This eliminated the need for external tools, reducing costs and improving operational efficiency.</li>
          <li><b>Cost Reduction for Brokers by 30%:</b>  The new solution provided a more affordable alternative to existing document signing solutions,
            offering brokers a cost-effective way to manage their workflows without sacrificing quality or performance.
          </li>
          <li><b>Improved Customer Communication:</b> Integrated email notifications to keep customers informed throughout the signing process,
            providing brokers with a streamlined and efficient way to notify customers and enhance the overall user experience.
          </li>
        </ul>
      </section>

      <section id="keyFeatures" class="about tools-used">
        <h2 class="ci-heading">Key Features</h2>
        <ul><p>
          <li><b>Centralized Document Management:</b> Brokers could manage all their documents directly within the system, streamlining workflows and reducing the need for external solutions.
          </li>
          <li><b>Email Notifications:</b> Integrated email requests to customers, providing a seamless experience and keeping them informed throughout the signing process.
          </li>
          <li><b>Real-Time Signing Tracking: </b> The signing process was tracked in real-time, allowing brokers to monitor progress and ensure timely completion.
          </li>
          <li><b>Pay-Per-Use Licensing Model:</b> A reusable License Service was implemented to track and manage usage, ensuring efficient consumption reporting and supporting the pay-per-use model.
          </li>
          <li><b>Cost-Effective Solution:</b> The solution offered brokers a more affordable option compared to other document signing tools, helping them save on operational costs.
          </li>
        </ul>
      </section>

      <section id="responsibilities" class="about tools-used">
        <h2 class="ci-heading">Responsibilities</h2>
        <ul>
          <li><b>Development cycle:</b> Actively participated in all stages of the software development lifecycle, following Agile methodology to ensure timely delivery and iterative improvement.
          </li>
          <li><b>High-Quality, Maintainable Code:</b> Consistently wrote clean, reusable, and maintainable code, adhering to industry best practices and coding standards to ensure long-term codebase health.
          </li>
          <li><b>Microservices Architecture Design:</b> Designed and implemented scalable microservices using Domain-Driven Design (DDD), and Event-Driven Architecture (EDA) to ensure flexibility and responsiveness across the system.
          </li>
          <li><b>Code Review & Quality Assurance:</b> Participated in rigorous code reviews, ensuring all contributions met the highest quality standards and maintained consistency across the project.
          </li>
          <li><b>Enhanced front-end:</b> Contributed to front-end development, improving the user experience by providing real-time
            document status updates and guiding through every step of the document signing process, while also addressing and resolving bugs.
          </li>
        </ul>
      </section>

      <section id="tools" class="about tools-used">
        <h2 class="ci-heading">Skills</h2>
        <div class="skills">
          <div class="skill">AWS SNS</div>
          <div class="skill">AWS SQS</div>
          <div class="skill">AWS CloudWatch</div>
          <div class="skill">AWS EventBridge</div>
          <div class="skill">AWS Lambda</div>
          <div class="skill">AWS RDS</div>
          <div class="skill">AWS S3</div>
          <div class="skill">Azure DevOps</div>
          <div class="skill">JIRA</div>
          <div class="skill">DataDog</div>
          <div class="skill">MassTransit</div>
          <div class="skill">ASP.NET 8</div>
          <div class="skill">ASP.NET Web API</div>
          <div class="skill">DataDog</div>
          <div class="skill">Redis</div>
          <div class="skill">WebSockets</div>
          <div class="skill">Docker</div>
          <div class="skill">Agile</div>
          <div class="skill">HTML</div>
          <div class="skill">CSS</div>
          <div class="skill">Angular</div>
          <div class="skill">Docker</div>
          <div class="skill">Entity Framework</div>
          <div class="skill">Dapper</div>
          <div class="skill">MSSQL</div>
          <div class="skill">PostgreSQL</div>
          <div class="skill">MediatR</div>
          <div class="skill">GIT</div>
          <div class="skill">FluentValidation</div>
          <div class="skill">AutoMapper</div>
          <div class="skill">Design Patterns</div>
          <div class="skill">Domain-Driven Design(DDD)</div>
          <div class="skill">Event-Driven Design(EDD)</div>
          <div class="skill">Vertical Slice Architecture</div>
          <div class="skill">Microservices</div>
          <div class="skill">DRY</div>
          <div class="skill">LINQ</div>
          <div class="skill">SOLID</div>
          <div class="skill">CQRS</div>
          <div class="skill">YAGNI</div>
          <div class="skill">RestSharp</div>
          <div class="skill">FluentAssertion</div>
          <div class="skill">xUnit</div>
          <div class="skill">AutoFixture</div>
          <div class="skill">Moq</div>
        </div>
      </section>
    </div>
  </div>
</div>
