<header class="ci-header" id="site-header">
  <div class="container">
    <div class="ci-header-inner">
      <a href="/" class="ci-logo">
        <span>C</span>Cristian Ionas
      </a>
      <ul class="ci-social">
        <li><a href="https://www.linkedin.com/in/cristianionas/"
               target="_blank" title="LinkedIn">
          <fa-icon class="icon-container" [icon]="faLinkedin"></fa-icon>
        </a></li>

        <li><a href="https://wa.me/40757353709"
               target="_blank" title="WhatsApp">
          <fa-icon class="icon-container" [icon]="faWhatsapp"></fa-icon>
        </a></li>

        <li><a href="https://t.me/crisionas"
               target="_blank" title="Telegram">
          <fa-icon class="icon-container" [icon]="faTelegram"></fa-icon>
        </a></li>

        <li><a href="mailto:cristian@crisify.com"
               target="_blank" title="Mail">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </a></li>

        <li><a href="tel:+40757353709"
               target="_blank" title="Phone">
          <fa-icon [icon]="faPhone"></fa-icon>
        </a></li>
      </ul>
    </div>
  </div>
</header>
